/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {

    /* pagewrap */
    #pagewrap {
        width: 95%;
    }

    /* content */
    #content {
        width: 60%;
        padding: 3% 4%;
    }

    /* sidebar */
    #sidebar {
        width: 30%;
    }
    #sidebar .widget {
        padding: 8% 7%;
        margin-bottom: 10px;
    }

}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {

    /* header */
    #header {
        height: auto;
    }

    /* main nav */
    #main-nav {
        position: static;
    }

    /* site logo */
    #title {
        margin: 15px 100px 5px 10px;
        position: static;
    }

    /* content */
    #content {
        width: auto;
        float: none;
        margin: 20px 0;
    }

    /* sidebar */
    #sidebar {
        width: 100%;
        margin: 0;
        float: none;
    }
    #sidebar .widget {
        padding: 3% 4%;
        margin: 0 0 10px;
    }

}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {

    /* disable webkit text size adjust (for iPhone) */
    html {
        -webkit-text-size-adjust: none;
    }

    /* main nav */
    #main-nav a {
        font-size: 90%;
        padding: 10px 8px;
    }

}

